body{
    margin: 0;
    background-image: url('/thai/img/body.png');
    background-size: cover;
}
.s2{
    overflow: hidden;
    display: inline-table;
    height: 100px;
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 252, 251);
    
    align-items: center;
    text-align: center;
    font-size: x-large;
    height: 45%;
    
   
    
}
ul li{
    display: inline-table;
    width: 20%;
    line-height: 45px;
    
}
ul li a{
    text-decoration: none;
    color: #030000;
    display: block;
}
ul li a:hover{
   color: rgb(68, 70, 68);
   background-color: rgb(146, 239, 255);
}
.a1 {
    height: 600px;
    width: 950px;
}
.slideShow{
    display: flex;
    justify-content: center;
}
.d1{
    width: 900px;
    text-justify: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.d1 > img{
    width: 90%;
}
.o1{
    color: rgb(24, 23, 23);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    background-color:rgba(138, 212, 255, 0.561);
    display: flex;
    padding: 20px;
}
.f1{
    margin-right: 20px;
}
iframe{
    height: 200px;
    width: 300px;
}
footer{
    text-align: center;
}
footer>p{
    margin: 0;
}
form{
   margin-left: 25px;
}

		
input {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px gray;
	width: 250px;
}
button {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px gray;
	background-color: #4CAF50;
	color: white;
}

.container{
    display: flex;
    justify-content: center;
}